html, body {
	height: 100%;
	min-height: 100%;
}

header {
    background-color: #A01716;
    padding: 30px;
    font-size: 35px;
    color: white;
}

#logo {
	height: 130px;
}

nav	{
	background-color: orange;
	height: 300px;
	width: 30%;
	float: left;
}

article	{
	width: 70%;
	height: 100%
	float: right;
}

section	{
	height: 80%
	padding-top:100px;

}

#div-article {
	padding: 20px;
	text-align: justify;
}


