html, body {
	height: 100%;
	min-height: 100%;
}

* {
    box-sizing: border-box;
}

header {
    background-color: #A01716;
    padding: 30px;
    font-size: 35px;
    color: white;
}

#logo {
	height: 130px;
}

.navbar	{
	position: absolute;
	background-color: orange;
	height: 100%;
	width: 20%;
	float: left;
}

.div-article	{
	position: absolute;
	width: 100%;
	float: left;
	text-align: justify;

}

.pizza-home {
	height: 130px;
	width: 30%;
	float: left;
	margin: 10px;
}

.pizza-img	{
	height: 100%;
	width: 100%;
}

figure {
	float: left;
}

figcaption {
	text-align: center;
}

}

@media (max-width: 600px) {
    .navbar, .div-article {
        width: 100%;
        height: auto;
    }
}

